body {
    background-image: url(https://i.pinimg.com/originals/0c/b5/4c/0cb54c22a172b0314f2ccd7d3253dfa4.jpg);
}

#head-text {
    font-family: 'Major Mono Display', monospace;
}   

.panel-title {
    font-family: 'Thasadith', sans-serif;
}

